* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
  }
  
  /* Define o layout principal do body para flex, centraliza seu conteúdo horizontal e verticalmente, define altura mínima para cobrir a viewport, aplica um gradiente linear como fundo e esconde o overflow */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: -webkit-linear-gradient(to right, #272727, #000000);
    /* Para Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #202020, #000000);
    /* Padrão: W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    overflow: hidden;
  }
  
  /* Define a posição, tamanho e alinhamento do container principal */
  .container {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estiliza os spans dentro do .container, posicionando-os absolutamente para cobrir todo o container, com bordas brancas sólidas e uma transição suave */
  .container span {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
  }
  
  /* Personaliza a forma dos spans usando border-radius para criar formas únicas e aplica animações contínuas com diferentes durações e direções */
  .container span:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
  }
  
  .container span:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 4s linear infinite;
  }
  
  .container span:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
  }
  
  /* Aumenta a espessura da borda e aplica um sombreado quando o .container é passado por cima */
  .container:hover span {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
  }
  
  /* Define as keyframes para as animações dos spans, rotacionando-os 360 graus */
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate2 {
    0% {
      transform: rotate(360deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  /* Estiliza o .form-container para alinhar e organizar os elementos do formulário de login */
  .form-container {
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Define o estilo do título do formulário */
  .form-container h2 {
    font-size: 2em;
    color: #fff;
  }
  
  /* Estiliza o .input-container para alinhar os campos de entrada */
  .input-container {
    position: relative;
    width: 100%;
  }
  
  /* Estiliza os campos de entrada para preencher o .input-container, com estilo transparente e bordas arredondadas */
  .input-container input {
    position: relative;
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;
  }
  
  /* Remove a borda de foco padrão dos campos de entrada para manter a estética */
  .input-container input:focus {
    outline: none;
    border-color: #fff;
  }
  
  /* Personaliza o botão de envio com um gradiente de cor e remove a borda */
  .input-container input[type="submit"] {
    width: 100%;
    background: #0078ff;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    /* Para Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432);
    /* Padrão */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Estiliza o .links-container para organizar os links de ação */
  .links-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  /* Define o estilo dos links para contrastar com o fundo */
  .links-container a {
    color: #fff;
    text-decoration: none;
  }
  